<div class="card m-3 wrapper wrapper-content animated fadeInRight" >
  <h5 class="card-header">User Edit</h5>
  <div class="card-body">
      <form class="needs-validation" (ngSubmit)="usersedit()" [formGroup]="usereditForm">
          <div class="form-row">
              <div class="form-group col">
                  <label>User Name</label>
                  <input type="text" formControlName="users_name"   value="{{rollget[0]?.users_name}}" class="form-control"  />
                  <div *ngIf="submitted && f.users_name.errors" class="invalid-feedback">
                      <div *ngIf="f.users_name.errors.required">User Name is required</div>
                  </div>
              </div>
              
              <div class="form-group col">
                  <label>Password</label>
                  <input type="password" formControlName="users_pwd"  value ="{{rollget[0]?.users_pwd}}" class="form-control"  />
                  <div *ngIf="submitted && f.users_pwd.errors" class="invalid-feedback">
                      <div *ngIf="f.users_pwd.errors.required">Password required</div>
                  </div>
              </div>

          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-info"> Submit </button>
             
          </div>
      </form>
  </div>
</div>