<div class="card m-3 wrapper wrapper-content animated fadeInRight" >
    <h5 class="card-header">User Add</h5>
    <div class="card-body">
        <form class="needs-validation" (ngSubmit)="usersadd()" [formGroup]="useraddForm">
            <div class="form-row">
                <div class="form-group col">
                    <label>Roll Name</label>
                    <select formControlName="col_code_fk" class="form-control"    >
                        <option value=""></option>
                        <option value="{{i}}" *ngFor="let rolldata of rollitemsget; let i = index;">{{rolldata.grps_desc}}</option>
                       
                    </select>
                    <div *ngIf="submitted && f.col_code_fk.errors" class="invalid-feedback">
                        <div *ngIf="f.col_code_fk.errors.required">Roll Name is required</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>User Name</label>
                    <input type="text" formControlName="users_name" class="form-control"  />
                    <div *ngIf="submitted && f.users_name.errors" class="invalid-feedback">
                        <div *ngIf="f.users_name.errors.required">User Name is required</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Password</label>
                    <input type="password" formControlName="users_pwd" class="form-control"  />
                    <div *ngIf="submitted && f.users_pwd.errors" class="invalid-feedback">
                        <div *ngIf="f.users_pwd.errors.required">Password required</div>
                    </div>
                </div>

            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-info"> Submit </button>
               
            </div>
        </form>
    </div>
</div>