<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Students View Form</h2>

  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5> Student Informations </h5>

        </div>

        
        <div class="ibox-content ">
          <form >
            <br>
            <div class="card">
              <div class="card-body">


                <br>
                        <div class="card form-row">
                            <div class="card-body">
                                <h2>Account Information</h2>
                                <div class="row ">

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>School Name *</label>
                                            <p>{{SViewitems.stu_prf_stud_name}}</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Application No *</label>
                                            <p>{{SViewitems.stu_prf_stud_name}}</p>
                                        </div>
                                    </div>


                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <label>Date Applied *</label>
                                            <p>{{SViewitems.stu_prf_stud_name}}</p>
                                        </div>

                                    </div>


                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Student First Name *</label>
                                            <p>{{SViewitems.stu_prf_stud_name}}</p>
                                        </div>
                                    </div>



                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Student Middle Name *</label>
                                            <p>{{SViewitems.stu_prf_stud_name}}</p>

                                        </div>
                                    </div>



                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Student Last Name</label>
                                            <p>{{SViewitems.stu_prf_stud_name}}</p>  
                                        </div>
                                    </div>



                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Entry Mode *</label>
                                            <p>{{SViewitems.stu_prf_stud_name}}</p>
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Batch/Academic year *</label>
                                            <p>{{SViewitems.stu_prf_stud_name}}</p>
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Board Name *</label>
                                             
                                        </div>
                                    </div>



                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Medium Name *</label>
                                             
                                        </div>
                                    </div>



                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <label>Standard *</label>
                                             
                                        </div>
                                    </div>



                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Group Name *</label>
                                             
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Second Language *</label>
                                             
                                        </div>
                                    </div>



                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Reading Ability *</label>
                                             
                                        </div>
                                    </div>



                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Mother Tongue *</label>
                                             
                                        </div>
                                    </div>




                                    <div class="col-lg-6">
                                        <div class="form-group" id="data_1">
                                            <label class="font-normal">Date of Birth *</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                             </div>

                                        </div>
                                    </div>




                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Age *</label>
                                            
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <br>

                <div class="row ">
                  <p>{{SViewitems.stu_prf_stud_name}}</p>
                 <!---<div class="col-lg-6" *ngFor="let userview of SViewitems[1].user | keyvalue, index as i">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>{{userview.key}}</label>
                        </div>
                        <div class="col-lg-6">
                          <label>{{userview.value}}</label>
                        </div>
                    </div>
                  </div>--> 

                 
 

                </div>
              </div>
            </div>
            <br>

          </form>



        </div>
      </div>
    </div>

  </div>
</div>