<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Students View Form</h2>

  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5> Student Informations </h5>

        </div>
        <div class="ibox-content ">
          <form >
            <br>
            <div class="card">
              <div class="card-body">
                <div class="row ">
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>School Name</label>
                        </div>
                        <div class="col-lg-6">
                          <label>Vidyalakshmi school</label>
                        </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Application No </label>
                        </div>
                        <div class="col-lg-6">
                          <label>5ef1d8778dd65</label>
                        </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Date Applied</label>
                        </div>
                        <div class="col-lg-6">
                          <label>23-06-2020</label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Student First Name</label>
                        </div>
                        <div class="col-lg-6">
                          <label>Vidyalakshmi</label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Student Middle Name</label>
                        </div>
                        <div class="col-lg-6">
                          <label>school</label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Student Last Name</label>
                        </div>
                        <div class="col-lg-6">
                          <label>school</label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Entry Mode</label>
                        </div>
                        <div class="col-lg-6">
                          <label>Regular   </label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Batch/Academic year</label>
                        </div>
                        <div class="col-lg-6">
                          <label>2020   </label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Board Name</label>
                        </div>
                        <div class="col-lg-6">
                          <label>MATRIC</label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Medium Name</label>
                        </div>
                        <div class="col-lg-6">
                          <label>ENGLISH</label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Standard </label>
                        </div>
                        <div class="col-lg-6">
                          <label>VI</label>
                        </div>
                    </div>
                  </div>
                   <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Group Name </label>
                        </div>
                        <div class="col-lg-6">
                          <label>General</label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Second Language</label>
                        </div>
                        <div class="col-lg-6">
                          <label>Tamil</label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Reading ability</label>
                        </div>
                        <div class="col-lg-6">
                          <label>Yes</label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Mother Tongue</label>
                        </div>
                        <div class="col-lg-6">
                          <label>Tamil</label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Date of Birth</label>
                        </div>
                        <div class="col-lg-6">
                          <label>22-02-2020</label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row ">
                      <div class="col-lg-6">
                        <label>Age </label>
                        </div>
                        <div class="col-lg-6">
                          <label>22</label>
                        </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <br>

          </form>



        </div>
      </div>
    </div>

  </div>
</div>