<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Students List Form</h2>

  </div>
  <div class="col-lg-2">

  </div>
</div>


<div class="col-lg-3" *ngIf="studentStandard != undefined && studentStandard.length>0">  
  <div class="form-group">
      <!-- <label>School Standard </label> -->
      <ng-select 
          [items]="studentStandard" 
          bindLabel="name"
          bindValue="id"
          placeholder="Select Class"
          (change)="schoolStandardFilter($event)"
          >
      </ng-select>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <!--<h5 style="display: block;"> Student List Informations </h5>-->
          
          <!--<button style="float: right;"class="btn btn-info" >Student Informations</button >-->
        </div>
        <div class="ibox-content">


            <div id="nprogress" *ngIf="loader">
                <div class="spinner" role="spinner">
                    <div class="spinner-icon"></div>
                </div>
            </div>
            
          <div class="table-responsive" *ngIf="SListitems.length>0" style="padding: 20px 10px 10px 10px; background: #fff;  margin: 10px; ">
            <table id='table' class="table table-striped table-bordered table-hover dataTables-example" datatable [dtOptions]="dtOptions" >
              <thead>
                <tr>
                  <th>Sl.No</th>
                  <th>Application Date</th>
                  <th>Application No</th>
                  <th>Student Name</th>
                  <th>Student Standard</th>
                  <th>Gender</th>                  
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>                
                
                <tr class="gradeX" *ngFor="let user of data, index as i">
                  <td >{{i + 1}}</td>
                  <td>{{user.stu_prf_app_date}}</td>
                  <td>{{user.stu_prf_app_No}}</td>
                  <td>{{user.stu_prf_stud_name}}</td>
                  <td>{{ standardName(user.stu_prf_current_Semester) }}</td>
                  <td>
                      <div *ngIf="user.stu_prf_sex == 1">Male</div>
                      <div *ngIf="user.stu_prf_sex == 2">Female</div>
                      <div *ngIf="user.stu_prf_sex == 0">---</div>
                  </td>                  

                  <td class="center">
                    <a routerLink="/studentview/{{user.stu_prf_id_pk}}" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                    <a routerLink="/studentedit/{{user.stu_prf_id_pk}}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                    <a (click)="makePaid(user.stu_prf_id_pk,5)" class="action-icon"> <i alt="Paid" title="Paid" class="mdi mdi-wallet-membership"></i></a>
                   <!-- <a routerLink="/studentedit/{{user.stu_prf_id_pk}}" class="action-icon"> <i class="mdi mdi-delete"></i></a> -->
                  </td>
                </tr>

               
              </tbody>
            </table>            
            
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

