<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Students Selection view</h2>
  
    </div>
    <div class="col-lg-2">
  
    </div>
  </div>
  <div id="view" class="wrapper wrapper-content animated fadeInRight">
  
  
    <div id="nprogress" *ngIf="loader">
        <div class="spinner" role="spinner">
            <div class="spinner-icon"></div>
        </div>
    </div>
  
    <p *ngIf="statusMsg" class="btn btn-danger">{{statusMsg}}</p>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-title">
            <a routerLink="/studentselection" routerLinkActive="active" class="btn btn-info" style="float:right;">Back to
              Students</a>
          </div>
          <div class="ibox-content " style="padding-top: 50px;">
  
            <div class="card">
              <div class="card-body">
                <div class="row">
  
                  <div class="col-lg-4 col-xl-4 col-sm-4">
                    <div class="card-box text-center">
                      <img src="{{daimag}}" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">
  
                      <h4 class="mb-0">
                        {{SViewitems.stu_prf_stud_name+" "+SViewitems.stu_stud_mname+" "+SViewitems.stu_stud_lname}}</h4>
                      <p class="text-muted">{{SViewitems.stu_prf_stu_emis}}</p>
  
                      <button type="button"
                        class="btn btn-success btn-xs waves-effect mb-2 waves-light">{{SViewitems.stu_prf_sex}}</button>
                      &nbsp;
                      <button type="button"
                        class="btn btn-danger btn-xs waves-effect mb-2 waves-light">{{dobValue+" years" }}</button>
  
                    </div>
                  </div>
  
                  <div class="col-lg-4 col-xl-4 col-sm-4">
                    <!--<div class="text-left mt-3">
                      <h4 class="font-13 text-uppercase">Student Change Status :</h4>
                        <button class="btn btn-primary" (click)="changeStatus(SViewitems.stu_prf_id_pk, 1)" >Accept</button> &nbsp;&nbsp;
                        <button class="btn btn-info" (click)="changeStatus(SViewitems.stu_prf_id_pk, 2)">Decline</button> &nbsp;&nbsp;
                        <button class="btn btn-warning" (click)="changeStatus(SViewitems.stu_prf_id_pk, 3)">Hold</button>
                      </div>-->
                    </div>
  
                  <div class="col-lg-4 col-xl-4 col-sm-4">
                    <div class="text-left mt-3">
                      <h4 class="font-13 text-uppercase">Student Information :</h4>
  
                      <p class="text-muted mb-2 font-13"><strong>Gender :</strong><span class="ml-2">{{sexval}}</span></p>
  
                      <p class="text-muted mb-1 font-13"><strong>Place of Birth :</strong> <span
                          class="ml-2">{{SViewitems.stu_prf_plc_of_birth}}</span></p>
  
                      <p class="text-muted mb-1 font-13"><strong>Blood Group :</strong> <span
                          class="ml-2">{{dropdownBloodArray[SViewitems.stu_prf_bldgrp_fk]?.name}}</span></p>
  
                      <p class="text-muted mb-1 font-13"><strong>Religion :</strong> <span
                          class="ml-2">{{dropdownArray[3][3][SViewitems[ctrllabel[3][2]]]}}</span></p>
  
                      <p class="text-muted mb-1 font-13"><strong>Community :</strong> <span
                          class="ml-2">{{dropdownArray[3][4][SViewitems[ctrllabel[3][2]]]}}</span></p>
  
                      <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span
                          class="ml-2 ">{{SViewitems.stu_prf_stu_email}}</span></p>
  
                      <p class="text-muted mb-2 font-13"><strong>Aadhar Number :</strong> <span
                          class="ml-2 ">{{SViewitems.stu_prf_stu_aadhar}}</span></p>
  
                      <p class="text-muted mb-2 font-13"><strong>EMIS Number :</strong> <span
                          class="ml-2 ">{{SViewitems.stu_prf_stu_emis}}</span></p>
  
                      <p class="text-muted mb-2 font-13"><strong>Bank Details :</strong> <span
                          class="ml-2 ">{{SViewitems.stu_prf_stu_bank}}</span></p>
  
  
                    </div>
                  </div>
  
                  <div class="col-lg-4 col-xl-4 col-sm-4">
                    <div class="text-left mt-3">
                      <h4 class="font-13 text-uppercase">Other Information :</h4>
  
                      <p class="text-muted mb-2 font-13"><strong> Physically challenged :</strong><span
                          class="ml-2">{{phychan}}</span></p>
  
                      <p class="text-muted mb-2 font-13"><strong>Visual Defect :</strong> <span
                          class="ml-2 ">{{visdef}}</span></p>
  
                      <p class="text-muted mb-2 font-13"><strong>Any Medical Issues :</strong> <span
                          class="ml-2 ">{{SViewitems.stu_prf_medical}}</span></p>
  
                      <p class="text-muted mb-2 font-13"><strong>Co-Curriculum Activity :</strong> <span
                          class="ml-2 ">{{SViewitems.stu_prf_co_curr}}</span></p>
  
                      <p class="text-muted mb-1 font-13"><strong>Language known :</strong> <span
                          class="ml-2">{{SViewitems.stu_prf_third_lang}}</span></p>
  
                      <p class="text-muted mb-1 font-13"><strong>Citizen :</strong> <span
                          class="ml-2">{{dropdownArray[4][5][SViewitems[ctrllabel[3][2]]]}}</span></p>
  
                      <p class="text-muted mb-1 font-13"><strong>Remarks :</strong> <span
                          class="ml-2">{{SViewitems.stu_prf_remarks}}</span></p>
  
                      <p class="text-muted mb-1 font-13"><strong>Bus Facility Requirement :</strong> <span
                          class="ml-2">{{busfacval}}</span></p>
  
                    </div>
                  </div>
  
  
                </div>
  
              </div>
            </div>
  
            <div class="card">
              <div class="card-body">
                <h2>Account Information</h2>
                <div class="row">
  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>School Name :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{dropdownSchoolArray[SViewitems.col_code_fk]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Application No :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value=" {{SViewitems.stu_prf_app_No }}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Date Applied :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value=" {{SViewitems.stu_prf_app_date }}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Student First Name :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value=" {{SViewitems.stu_prf_stud_name }}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Student Middle Name :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value=" {{SViewitems.stu_stud_mname }}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Student Last Name :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value=" {{SViewitems.stu_stud_lname }}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Entry Mode :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value=" {{emode}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Batch/Academic year :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value=" {{SViewitems.stu_prf_current_Year}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Board Name :</label>
                      <div id="dataview">
                        <input class="form-control" type="text"
                          value=" {{dropdownPrevBoardArray[SViewitems.stu_prf_degree_code-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Medium Name :</label>
                      <div id="dataview">
                        <input class="form-control" type="text"
                          value=" {{dropdownLanguageArray[SViewitems.stu_prf_branch_Code-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Standard </label>
                      <div id="dataview">
                        <input class="form-control" type="text"
                          value=" {{dropdownStandardArray[SViewitems.stu_prf_current_Semester-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Elective Group Name </label>
                      <div id="dataview">
                        <input class="form-control" type="text"
                          value=" {{dropdownGroupArray[SViewitems.stu_prf_current_batch-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Second Language</label>
                      <div id="dataview">
                        <input class="form-control" type="text"
                          value=" {{dropdownMediumArray[SViewitems.stu_prf_sec_lang-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Reading ability</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value=" {{readability}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Mother Tongue</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value=" {{dropdownMotherLanguageArray[SViewitems.stu_prf_mother_tongue_fk-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Date of Birth</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value=" {{SViewitems.stu_prf_dob}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Age</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{dobValue }}" disabled />
                      </div>
                    </div>
                  </div>
  
  
                </div>
  
              </div>
            </div>
  
  
  
            <div class="card" id="psi">
              <div class="card-body">
                <h2>Previous School Information</h2>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Previous School Board Name :</label>
                      <div id="dataview">
                        <input class="form-control" type="text"
                          value="{{dropdownPrevBoardArray[SViewitems.stu_prev_degree_code-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Medium Of Previous Study :</label>
                      <div id="dataview">
                        <input class="form-control" type="text"
                          value="{{dropdownPrevMediumArray[SViewitems.stu_prev_medium_ins_fk-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Previous School Name:</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_adm_prev_colname}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Previous Grade/Standard :</label>
                      <div id="dataview">
                        <input class="form-control" type="text"
                          value="{{dropdownStandardArray[SViewitems.stu_adm_prev_class-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
            <div class="card">
              <div class="card-body">
                <h2>Parent Information</h2>
                <div class="row">
  
  
  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Father/Guardian First Name :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_fathers_name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Father/Guardian Last Name :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_guardian_name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Father/Guardian Aadhar Number:</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_guardian_aadhar}}" disabled />
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Father Qualification :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_fathers_qual}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Father Occupation :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_fathers_occup}}" disabled />
                      </div>
                    </div>
                  </div>
  
  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Father Annual Income :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_fathers_anninc}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Mother Name :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_mothers_name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Mother Occupation :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_mothers_occup}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Mother Annual Income :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_mothers_anninc}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Parent Email ID :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_parent_email}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Parent Mobile No :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_mobile_no}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Place of Living :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_plc_of_livng}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Parents Old Student :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_parents_old_stu}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Family Size :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_family_size}}" disabled />
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
  
  
  
            <div class="card">
              <div class="card-body">
                <h2>Student Information</h2>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Gender :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{sexval}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Place of Birth :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_plc_of_birth}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Blood Group:</label>
                      <div id="dataview">
                        <input class="form-control" type="text"
                          value="{{dropdownBloodArray[SViewitems.stu_prf_bldgrp_fk-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Religion :</label>
                      <div id="dataview">
                        <input class="form-control" type="text"
                          value="{{dropdownReligionArray[SViewitems.stu_prf_religion_fk-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Race/Community :</label>
                      <div id="dataview">
                        <input class="form-control" type="text"
                          value="{{dropdownCommunityArray[SViewitems.stu_prf_community_fk-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Student Email ID :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_stu_email}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Student Aadhar Number :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_stu_aadhar}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>EMIS Number :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_stu_emis}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Student Bank Details :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_stu_bank}}" disabled />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
  
            <div class="card">
              <div class="card-body">
                <h2>Other Information</h2>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Physically challenged :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{phychan}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Visual Defect :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{visdef}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Any Medical Issues:</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_medical}}" disabled />
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Co-Curriculum Activity :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_co_curr}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Language known :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_third_lang}}" disabled />
                      </div>
                    </div>
                  </div>
  
  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Citizen :</label>
                      <div id="dataview">
                        <input class="form-control" type="text"
                          value="{{dropdownCitizenArray[SViewitems.stu_prf_citizen_fk-1]?.name}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Remarks :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_prf_remarks}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Student Image :</label>
                      <div id="dataview">
                        <img src="{{daimag}}" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">
                        <!-- <input class="form-control" type="text" value="{{SViewitems.stu_adm_stu_image}}" disabled /> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Bus Facility Requirement :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{busfacval}}" disabled />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
            <div class="card" id="fi">
              <div class="card-body">
                <h2>Foreigner Information </h2>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Country :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_foreign_country_name}}"
                          disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Passport No :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_foreign_passport_no}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Passport Validate Date :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_foreign_passport_valid_date}}"
                          disabled />
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Visa No ::</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_foreign_visa_no}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Visa Expiry Date :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.stu_foreign_visa_valid_date}}"
                          disabled />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
            <div class="card">
              <div class="card-body">
                <h2>Permanent Address </h2>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Address :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.con_per_add}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>State :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.con_per_state}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Country :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.con_per_cntry}}" disabled />
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Pincode ::</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.con_per_pincode}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Phone Number :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.con_per_phone}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Nearest Railway Station :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.con_rail_stn}}" disabled />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
            <div class="card">
              <div class="card-body">
                <h2>Contact Address</h2>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Address :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.con_per_add}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>State :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.con_per_state}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Country :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.con_per_cntry}}" disabled />
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Pincode ::</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.con_per_pincode}}" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Phone Number :</label>
                      <div id="dataview">
                        <input class="form-control" type="text" value="{{SViewitems.con_per_phone}}" disabled />
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
  
            <style>
              #certificatelist label {
                width: 100%;
              }
  
              #certificatelist p {
                width: 100%;
                font-weight: bold;
              }
            </style>
            <div class="card" *ngIf="SViewDoc">
              <div class="card-body" id="certificatelist">
                <h2>Certificate Information</h2>
                <div *ngIf="SViewDoc.length > 0">
                  <div class="row" *ngFor="let doc of SViewDoc; let k = index;">
  
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label *ngIf="k==0">Certificate Name </label>
                        <p>{{dropdownCertificateArray[SViewitems.cert_code_fk-1]?.name}}</p>
                      </div>
                    </div>
  
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label *ngIf="k==0">Date </label>
                        <p>{{doc.crt_cert_date}}</p>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label *ngIf="k==0">Certificate No </label>
                        <p>{{doc.crt_cert_no}}</p>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label *ngIf="k==0">Attachment </label>
                        <p>
                          <span style="cursor: pointer;" (click)="downloadFile(doc.crt_attach)">
                            <i class="fa fa-file"></i> View
                          </span>
                        </p>
                      </div>
                    </div>
                    <hr />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>