<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Language Form</h2>

    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                </div>
                <div class="ibox-content ">
 
                    <form class="needs-validation" (ngSubmit)="formSubmit()" [formGroup]="languageForm">


                            <div class="card form-row">
                                <div class="card-body">
                                        <div class="row ">

                                                <div class="col-lg-6">

                                                    <div class="form-group">
                                                        <label>Language *</label>
                                                        <input type="text" autocomplete="off" formControlName="Language"
                                                            class="form-control" />
                                                    </div>
            
                                                </div>

                                                <div class="col-12 text-center mb-4">
                                                        <input [disabled]="!languageForm.valid" [ngClass]="{ 'disable-btn': !languageForm.valid }" type="submit" class="btn btn-info" value="Save">
                                                        <button class="btn btn-danger" routerLink="../list">Cancel</button>
                                                </div>
                                                
                
                                        </div>
                                </div>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="nprogress" *ngIf="loader">
    <div class="spinner" role="spinner">
        <div class="spinner-icon"></div>
    </div>
</div>
