<div class="wrapper wrapper-content animated fadeInRight"><br><br>
    <div class="row">
        <div class="col-lg-12">

            <form class="needs-validation" (ngSubmit)="EditRoll()" [formGroup]="rollEditform">
                <div class="card form-row">
                    <div class="card-body">
                        <h2>Role Edit</h2><br><br>
                        <div class="row ">
                            <div class="col-lg-2">

                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label>Roll Name</label>
                                    <input type="text" autocomplete="off" formControlName="grps_desc"
                                    [(ngModel)]="rolledits[0].grps_desc" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && form.grps_desc.errors }" />
                                    <div *ngIf="submitted && form.grps_desc.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="form.grps_desc.errors.required">Roll Name is required
                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                            <div class="col-lg-2">

                            </div><br><br>
                            <div class="col-lg-2">

                            </div>
                            <div class="col-lg-8" >
                                <button type="submit" class="btn btn-info"> Submit </button>
                            </div>
                            <div class="col-lg-2">

                            </div>

                        </div>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>