<div class="container">
    <div>
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                    <h4 class="modal-title w-100"> Registered Successfully </h4>
                    
                </div>
                <div class="modal-body">
                    <p class="text-center">Your Registration has been confirmed. Check your email for detials.</p>
                </div>

            </div>
        </div>
    </div>
</div>